<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-app ng-controller="noteCtrl">
        <!-- build:js scripts/main.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="scripts/underscore.js"></script>
        <script src="scripts/angular.js"></script>
        <script src="scripts/vexflow.js"></script>
        <script src="scripts/vexflow-json.js"></script>
        <script src="scripts/main.js"></script>
        <!-- audio playback -->
        <script src="scripts/Audiolet.min.js"></script>
        <script src="script/music.js"></script>
        <script src="script/scheduling.js"></script>
        <!-- endbuild -->

        <div class="container">
            <div class="hero-unit">
              <div id="flashcontainer">
                <div id="flashcontent"></div>
              </div>
              <h1 class="pageName">Maestro 1.0</h1>
              <h2>Live Transcription:</h2>
            </div>
          <canvas id="live-chord" width="940" height="300"></canvas>
          <div id='fullNotes'></div>

          <div style="display:none;">
          <h2>Simple Chord</h2>
          <p>["C", "E", "G", "Bb"]</p>
          <p>{{ customChord }}</p>
          <canvas id="simple-chord" width="200" height="120"></canvas>
          <input type="text" ng-model="customChord" placeholder='Sample ["C", "E", "G", "Bb"]' ng-change='redraw("simple-chord");'>
          
          <h2>Simple Chord with Duration</h2>
          <canvas id="simple-chord-with-duration" width="600" height="120"></canvas>
          <script type="text/javascript">
            render_vexflow("simple-chord-with-duration", {
              duration: "h",
              keys: ["C", "E", "G", "Bb"]
            });
          </script>

          <h2>Simple List of Notes</h2>
          <canvas id="simple-list-of-notes" width="600" height="120"></canvas>
          <input type="text" ng-model="customList" placeholder='Sample ["C", "E", "G", "Bb"]' ng-change='redrawList("simple-list-of-notes");'>

          <h2>Simple Sequence of Chords</h2>
          <canvas id="simple-sequence-of-chords" width="600" height="120"></canvas>
          <script type="text/javascript">
            render_vexflow("simple-sequence-of-chords", [
              ["C", "Eb", "G", "Bb"],
              ["C", "Eb", "F", "A"],
              ["Bb", "D", "F", "A"],
              "|",
              ["C", "Eb", "G", "Bb"],
              ["C", "Eb", "F", "A"],
              ["Bb", "D", "F", "A"]
            ]);
          </script>

          <h2>Explicit Sequence of Chords</h2>
          <canvas id="explicit-sequence-of-chords" width="600" height="120"></canvas>
          <script type="text/javascript">
            render_vexflow("explicit-sequence-of-chords", {
              clef: "treble",
              notes: [
                { duration: "q", keys: ["C", "Eb", "G", "Bb"] },
                { duration: "q", keys: ["C", "Eb", "F", "A"] },
                { duration: "h", keys: ["Bb", "D", "F", "A"] },
                { duration: "h", keys: ["Bb", "D", "F", "A"] },
              ]
            });
          </script>

          <h2>Chord Across Treble &amp; Bass Clefs</h2>
          <canvas id="chord-across-clefs" width="600" height="600"></canvas>
          <script type="text/javascript">
            render_vexflow("chord-across-clefs", {
              clef: ["treble", "bass"],
              duration: "h",
              keys: ["C/3", "E/3", "G/4", "Bb/4"]
            });
          </script>

          <h2>Explicit Voices</h2>
          <canvas id="explicit-voices" width="900" height="300"></canvas>
          <script type="text/javascript">
            render_vexflow("explicit-voices", {
              clef: "treble",
              voices: [
                { time: "4/4", notes: [
                  { duration: "h", keys: ["C", "Eb", "F", "A"] },
                  { duration: "h", keys: ["Bb", "D", "F", "A"] },
                  { barnote: true },
                  { duration: "q", keys: ["C", "Eb", "G", "Bb"] },
                  { duration: "q", keys: ["C", "Eb", "F", "A"] },
                  { duration: "h", keys: ["Bb", "D", "F", "A"] },
                  { barnote: true },
                  { duration: "q", keys: ["C", "Eb", "G", "Bb"] },
                  { duration: "q", keys: ["C", "Eb", "F", "A"] },
                  { duration: "h", keys: ["Bb", "D", "F", "A"] },
                  { barnote: true },
                  { duration: "q", keys: ["C", "Eb", "G", "Bb"] },
                  { duration: "q", keys: ["C", "Eb", "F", "A"] },
                  { duration: "h", keys: ["Bb", "D", "F", "A"] }
                ]}
              ]
            });
          </script>
        </div>
          <footer class="footer" id="container">
            <a href="http://rosa.io/" title="Rosa Labs">Rosa Labs</a>
            <br>
            <a href="http://hscott.net/" title="Hunter Scott">Hunter Scott</a>
          </footer>
        </div>
</body>
</html>
