@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 90%;
    padding-top: 0px;
}

.pageName {
    padding-top: 60px;
}
#flashcontainer {
    float: right;
}

#live-chord {
    margin-top: 50px;
}